:root {
    --bg-color-main: #fff;
    --bg-color-profile: #EDF7FF;
    --txt-color-main: #183D53;
    --dark-color: #000000;
    --home-input-text-color:  #55565A;
    --blue-color: #4491BF;
    --blue-color-dark: #397CA5;
    --shadow: 0px 4px 4px 0px #00000040;

}